*.o
m4
po/*~
po/*.gmo
po/*.sed
po/*.sin
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
missing
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/en@boldquot.header
po/en@quot.header
po/stamp-po
po/tilda.pot
src/.deps/
src/Makefile
src/Makefile.in
src/key_converter.c
src/glade-resources.c
src/glade-resources.h
src/tilda
stamp-h1
src/tilda.ui~
tilda-config.h
tilda-config.h.in
tilda-config.h.in~
tilda.desktop
ylwrap
ABOUT-NLS
INSTALL
*.anjuta*
.project
.cproject
.kdev4
.idea
build/
cmake-build-debug/
