[Desktop Entry]
Encoding=UTF-8
Name=Tilda
Exec=tilda
Icon=tilda.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Application;Utility;TerminalEmulator;
