#!/usr/bin/make -f
# -*- makefile -*-
		  
%:
	dh $@ --parallel --with autoreconf


DEB_BUILD_MAINT_OPTIONS = hardening=+all
DEB_LDFLAGS_MAINT_APPEND=-Wl,-z,defs

override_dh_auto_clean:
	dh_auto_clean
	rm -f $(CURDIR)/po/*.gmo

override_dh_auto_install:
	dh_auto_install
	mv $(CURDIR)/debian/tilda/usr/share/tilda.glade \
		                $(CURDIR)/debian/tilda/usr/share/tilda/
